---
import "../assets/css/styles.css"; 
const { 
  title = "Tu Sistema - Optimiza tus procesos", 
  description = "Descubre cómo Tu Sistema puede ayudarte a optimizar procesos y mejorar la eficiencia de tu negocio con herramientas intuitivas.",
  keywords = "software, productividad, optimización, negocios",
  lang = "es" 
} = Astro.props;
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <meta name="robots" content="index, follow" />
  </head>
  <body>
    <slot /> 
  </body>
</html>